In [1]:
# impoting libraries

import pandas as pd
import numpy as np

In [2]:
# reading data frame employee_data  and named the variable as 'a'
a=pd.read_csv('/content/employee_data.csv')
a.head()
a.shape

(1200, 10)

In [3]:
# reading data frame  insurance_data and named the variable as 'b'
b=pd.read_csv('/content/insurance_data.csv')
b.head()
b.shape

(10000, 38)

In [4]:
# reading data frame vendor_data  and named the variable as 'c'
c=pd.read_csv('/content/vendor_data.csv')
c.head()
c.shape

(600, 7)

In [5]:
# merged a , b csv files and named the data frame as merged

merged = a.merge(b, on='AGENT_ID')

In [6]:
# merged the merged data frame and c csv file and named the data set as complete merged.
complete_merged=merged.merge(c,on='VENDOR_ID')

###  **TASK** **1**

In [7]:
#task1
complete_merged

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,...,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,FL,Lynn Haven,4,VNDR00394,Hart PLC,1108 Slater Street,NaN,Santa Rosa,CA,95404
1,AGENT00017,Robert Gordon,2003-09-09,1100 Cleveland Street,NaN,Fayetteville,AR,72701,33587927,SXOO45515923150315,...,OK,Moore,17,VNDR00394,Hart PLC,1108 Slater Street,NaN,Santa Rosa,CA,95404
2,AGENT00027,Jaqueline Hanson,2010-04-20,6506 North Lagoon Drive,NaN,Panama City Beach,FL,32408,28032351,HNDV98515562374050,...,OK,Oklahoma City,20,VNDR00394,Hart PLC,1108 Slater Street,NaN,Santa Rosa,CA,95404
3,AGENT00057,Debra Tripp,2011-03-12,3194 Bladensburg Road Northeast,NaN,Washington,DC,20018,89557833,QINB62773712676016,...,CA,Dublin,9,VNDR00394,Hart PLC,1108 Slater Street,NaN,Santa Rosa,CA,95404
4,AGENT00130,Richard Watts,2011-03-19,2521 Naylor Road Southeast,NaN,Washington,DC,20020,37112932,PUKF19142478946120,...,TN,Nashville,1,VNDR00394,Hart PLC,1108 Slater Street,NaN,Santa Rosa,CA,95404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6750,AGENT00566,Paul Ragland,2014-02-05,6315 North Oro Vista Court,NaN,Litchfield Park,AZ,85340,119693502,DFQL30132049053767,...,VT,Williston,7,VNDR00197,"Miller, Perez and Cannon",30 Curtis Road,#509,Milton,MA,2186
6751,AGENT00661,Johnny Borders,1993-11-14,52 Oleary Drive,NaN,Manchester,CT,6040,58545009,YWYB09426389497608,...,CT,Manchester,1,VNDR00197,"Miller, Perez and Cannon",30 Curtis Road,#509,Milton,MA,2186
6752,AGENT00832,Andrea Deleon,2016-01-22,3420 Northwest 41st Street,NaN,Oklahoma City,OK,73112,91463119,AGZN99793722750020,...,AL,Montgomery,20,VNDR00197,"Miller, Perez and Cannon",30 Curtis Road,#509,Milton,MA,2186
6753,AGENT00931,Teresa Hosey,1997-01-07,58 North U.S.A Drive,NaN,Fayetteville,AR,72701,46456511,MKRQ16932147550119,...,GA,Pooler,14,VNDR00197,"Miller, Perez and Cannon",30 Curtis Road,#509,Milton,MA,2186
6754,AGENT00952,James Volk,1996-08-30,22062 Cameron Street,NaN,Castro Valley,CA,94546,39717652,JSZJ26000202617327,...,TN,Nashville,20,VNDR00197,"Miller, Perez and Cannon",30 Curtis Road,#509,Milton,MA,2186

In [8]:
complete_merged.columns

Index(['AGENT_ID', 'AGENT_NAME', 'DATE_OF_JOINING', 'ADDRESS_LINE1_x',
       'ADDRESS_LINE2_x', 'CITY_x', 'STATE_x', 'POSTAL_CODE_x',
       'EMP_ROUTING_NUMBER', 'EMP_ACCT_NUMBER', 'TXN_DATE_TIME',
       'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER', 'POLICY_EFF_DT',
       'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE', 'PREMIUM_AMOUNT',
       'CLAIM_AMOUNT', 'CUSTOMER_NAME', 'ADDRESS_LINE1_y', 'ADDRESS_LINE2_y',
       'CITY_y', 'STATE_y', 'POSTAL_CODE_y', 'SSN', 'MARITAL_STATUS', 'AGE',
       'TENURE', 'EMPLOYMENT_STATUS', 'NO_OF_FAMILY_MEMBERS',
       'RISK_SEGMENTATION', 'HOUSE_TYPE', 'SOCIAL_CLASS', 'ROUTING_NUMBER',
       'ACCT_NUMBER', 'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS',
       'INCIDENT_SEVERITY', 'AUTHORITY_CONTACTED', 'ANY_INJURY',
       'POLICE_REPORT_AVAILABLE', 'INCIDENT_STATE', 'INCIDENT_CITY',
       'INCIDENT_HOUR_OF_THE_DAY', 'VENDOR_ID', 'VENDOR_NAME', 'ADDRESS_LINE1',
       'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTAL_CODE'],
      dtype='object')

In [9]:
# finding the count of insurance type and named the variable as type_counts

type_counts=complete_merged['INSURANCE_TYPE'].value_counts()

**TASK** **2**

In [10]:
# finding the top 3 insurance type and named the variable as top 3 insurance type
Top_3_Insurance_Type=type_counts.sort_values(ascending=False)[0:3]

In [11]:
# TOP 3 INSURANCE TYPES..
Top_3_Insurance_Type

Mobile    1145
Life      1141
Travel    1136
Name: INSURANCE_TYPE, dtype: int64

**TASK 3**

In [12]:
#finding Top 5 States where we are getting most insurance claims for customer belonging to HIGH(H) risk segment and named the variable as Top_5_States

Top_5_States=complete_merged[complete_merged['RISK_SEGMENTATION']=='H']['STATE'].value_counts().sort_values(ascending=False)[0:5]

In [13]:
# top 5 states 
Top_5_States

CA    112
AR     85
CO     78
CT     77
KY     75
Name: STATE, dtype: int64

**TASK 4**

In [14]:
# Finding Customer State == Incident State == Agent Address State THEN 1 ELSE 0 and named the list as co

co=[]
for i,j,k in zip(complete_merged.STATE,complete_merged.STATE_x,complete_merged.STATE_y):
  if i==j:
    if i==k:
      co.append(1)
    else:
      co.append(0)
  else:
    co.append(0)

In [15]:
# creating a feauture colocation with the co list
complete_merged['COLOCATION']=co

In [16]:
# checking the value counts of colocation
complete_merged['COLOCATION'].value_counts()

0    6720
1      35
Name: COLOCATION, dtype: int64

In [17]:
# finding the mean of colocation 
mean_COLOCATION=complete_merged['COLOCATION'].mean()

In [18]:
# mean of colocation
mean_COLOCATION

0.0051813471502590676

TASK 5

In [19]:
# Checking the columns of AUTHORITY_CONTACTED
complete_merged['AUTHORITY_CONTACTED'].value_counts()

Ambulance    2791
Police       1938
None         1337
Other         689
Name: AUTHORITY_CONTACTED, dtype: int64

In [20]:
# checking n “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1Then Update “AUTHORITY_CONTACTED” to Police
# and named the list as s
s=[]
for i,j in zip(complete_merged['AUTHORITY_CONTACTED'],complete_merged['POLICE_REPORT_AVAILABLE']):
  if i != 'police':
    if j==1:
      s.append('Police')
    else :
      s.append(i)
  else:
    s.append(i)

In [21]:
# creating a feauture AUTHORITY_CONTACTED in dataframe
complete_merged['AUTHORITY_CONTACTED']=s

In [22]:
# updated AUTHORITY_CONTACTED value counts
complete_merged['AUTHORITY_CONTACTED'].value_counts()

Police       5257
Ambulance     875
None          404
Other         219
Name: AUTHORITY_CONTACTED, dtype: int64

TASK 6

In [23]:
#task6
complete_merged[['PREMIUM_AMOUNT','CLAIM_AMOUNT']]

      PREMIUM_AMOUNT  CLAIM_AMOUNT
0              82.00         10000
1             175.56          2000
2             163.67         16000
3              53.33          3000
4              84.41         26000
...              ...           ...
6750           79.69          3000
6751          191.10         13000
6752           56.91         58000
6753           59.42          3000
6754          127.41          7000

[6755 rows x 2 columns]

TASK 7

In [24]:
# Find All Agents who have worked on more than 2 types of Insurance Claims.
# sorted based on claim amount

df_a=complete_merged[['AGENT_ID','INSURANCE_TYPE']]
df_b=df_a.drop_duplicates()
df_c=df_b.groupby('AGENT_ID').count()>2
agent_id=df_c[df_c['INSURANCE_TYPE']==True].index
df_agent=complete_merged[(complete_merged['AGENT_ID'].isin(agent_id))]
sorted_agents=df_agent.groupby('AGENT_ID').sum()['CLAIM_AMOUNT'].sort_values(ascending=False)

In [25]:
# agents who worked on more than 2 insurance types
sorted_agents

AGENT_ID
AGENT00807    417100
AGENT01142    334000
AGENT00313    330000
AGENT00125    323400
AGENT00679    312000
               ...
AGENT00188      8600
AGENT00537      6100
AGENT00604      5400
AGENT00793      5200
AGENT00197      3500
Name: CLAIM_AMOUNT, Length: 1025, dtype: int64

TASK 8

In [26]:
# finding What will be overall change in % of the Premium Amount Collected for all these Customer
# named the list as premium

premium=[]
for i,j in zip(complete_merged['INSURANCE_TYPE'],complete_merged['PREMIUM_AMOUNT']):
    if i=='Mobile' or i=='Travel':
        premium.append(j*0.9)
    elif i=='Health' or i=='Property':
        premium.append(j*0.93)
    elif i=='Life' or i=='Motor':
         premium.append(j*0.98)

In [27]:
s=(((complete_merged['PREMIUM_AMOUNT'].sum())-sum(premium))/complete_merged['PREMIUM_AMOUNT'].sum())*100

In [28]:
#e overall change in % of the Premium Amount Collected for all these Customer

s

5.800627413587433

TASK 9

In [29]:


# CHECKING IF CUSTOMER_TENURE > 60 AND EMPLOYMENT_STATUS = “N”AND NO_OF_FAMILY_MEMBERS >=4 THEN 1 ELSE 0
# NAMED THE LIST AS S
s=[]
for i,j,k in zip(complete_merged['TENURE'], complete_merged['EMPLOYMENT_STATUS'], complete_merged['NO_OF_FAMILY_MEMBERS']):
  if i>60  and  j=='N' and  k>=4:
    s.append(1)
  else:
    s.append(0)

In [30]:
#adding a feauture in the dataframe named as ELIGIBLE_FOR_DISCOUNT
complete_merged['ELIGIBLE_FOR_DISCOUNT']=s

In [31]:
#ELIGIBLE_FOR_DISCOUNT mean

complete_merged['ELIGIBLE_FOR_DISCOUNT'].mean()

0.03005181347150259

**TASK 11**

In [32]:
#employees who are in the bottom 5 percentile based on Claims worked by them.
np.percentile(complete_merged['CLAIM_AMOUNT'],5)

300.0

In [33]:
# low performing agents based on condition
low_pergorming_agents=complete_merged[complete_merged['CLAIM_AMOUNT']<=300]['AGENT_NAME'].to_list()

In [34]:
# low_pergorming_agents
low_pergorming_agents

['Joel Buss',
 'Mary Scribner',
 'Roberto Wetzel',
 'Patricia Gloeckner',
 'Vernon Stanfield',
 'Christopher Lazor',
 'Jim Rippee',
 'Marita Swearengin',
 'Greg Mclaughlin',
 'Ray Johns',
 'Claudia Lennon',
 'Jewell Johnson',
 'Jerome Chittenden',
 'Jean Dominguez',
 'Kathryn Lehman',
 'Katherine Williams',
 'Louise Garst',
 'Connie Phillips',
 'Amos Casillas',
 'Robyn Garcia',
 'Candy Spellman',
 'Thomas Marshall',
 'Scott Mcintyre',
 'Scott Mcintyre',
 'Darryl Hafenstein',
 'Phil Murat',
 'Evelyn Hurt',
 'Francisca Carrier',
 'Grace Rogers',
 'Fredrick Killen',
 'Sonia Barnhill',
 'Jerry Hoopes',
 'Melvin Stacey',
 'Helen Curry',
 'George Perry',
 'Marcus Sitko',
 'Jose Jones',
 'Kenneth Bullard',
 'Scott Beadle',
 'Linda Butler',
 'Heather Miramontes',
 'Arthur Gordon',
 'Pete Begley',
 'Gilberte Emerson',
 'Jordon Morris',
 'Michael Hoskins',
 'Catherine Rojas',
 'Jason Davis',
 'Julie Lang',
 'Michael Hoskins',
 'Karen Olsen',
 'Sarah Mcnish',
 'Shirley Conway',
 'Mathew Prater',
 'Kelly Coombs',
 'Laura Carroll',
 'Nannie Thomas',
 'Shelby Richards',
 'Margaret Burks',
 'Howard Planas',
 'Alejandro Moran',
 'Heather Miramontes',
 'Cindy Darden',
 'Wanda Koehl',
 'Robert Walker',
 'Cynthia Kern',
 'Boyd Christie',
 'Melvin Stacey',
 'Samuel Tolman',
 'Thomas Cunha',
 'Carolyn Doran',
 'Scott Clarke',
 'Nancy Coronado',
 'Hilary Ruffo',
 'Kimberly Zwolinski',
 'Jeffrey Forbis',
 'Kathryn Mckee',
 'Shanna Palacios',
 'Margaret Glover',
 'Sarah Brown',
 'Yolanda Samples',
 'Michael Robbins',
 'Jeffrey Forbis',
 'Wendi Hensley',
 'Charles Turner',
 'Kelli Rivas',
 'Jeffery Mcbride',
 'Steve Hayes',
 'James Alexander',
 'John Roberts',
 'Kathryn Lloyd',
 'Rivka Robinson',
 'James Schroepfer',
 'Cynthia Kern',
 'Joshua Cherry',
 'Robert Janus',
 'Fern Hatcher',
 'James Alexander',
 'Mary Apilado',
 'Robert Walker',
 'Darryl Hafenstein',
 'Richard Hauser',
 'Barbara Pearce',
 'Mickey Flanigan',
 'Christine Carter',
 'Charles George',
 'John Hill',
 'Scott Leist',
 'Stuart Lopez',
 'Robert Ruderman',
 'Frances Moye',
 'Ken Tantillo',
 'Peggie Green',
 'Mary Lane',
 'Fernando Tippets',
 'Jeffery Mcbride',
 'Lee Nieland',
 'Jean Dominguez',
 'Don Filkins',
 'Jessica Lipkin',
 'Caitlin Campbell',
 'Michael Pat',
 'Clayton Veit',
 'Roosevelt Holsopple',
 'Barbara Betancourt',
 'Rita Allaire',
 'Marie Sena',
 'Angel Alexander',
 'Walter Prue',
 'Belinda Robertson',
 'Steven Reed',
 'Robert Ward',
 'Omar Butler',
 'Jimmy Sisk',
 'Jessica Perkins',
 'Teresa Sedrakyan',
 'Russell Frost',
 'Walter Hardesty',
 'Michael Reed',
 'Sherri Bowser',
 'Herbert Harris',
 'Robert Rusher',
 'Rosemary Turman',
 'Daniel Wilcox',
 'Frances Kimble',
 'John Travis',
 'Martha Ray',
 'Kimberly Zwolinski',
 'Christopher Knopp',
 'Steve Hayes',
 'Milissa Scott',
 'James Trotter',
 'Amy Venice',
 'Ashley Baird',
 'Sheryl Chang',
 'Eva Wallen',
 'Danielle Caddell',
 'Lois Sheets',
 'Herbert Harris',
 'William Daigle',
 'Julie Sims',
 'Trudy Lamar',
 'Betty Zeigler',
 'Doris Aragon',
 'Lynette Blight',
 'John Roten',
 'Richard Sheehan',
 'Suzanne Rutan',
 'Elias Bergan',
 'Sherman Dammen',
 'John Ozment',
 'Sandra Lemieux',
 'Josephine Amorosi',
 'Robert Coldiron',
 'Brian Blocker',
 'Suzanne Amador',
 'Justin Bowers',
 'Melvin Schmidt',
 'Robert Lopez',
 'Richard Gouty',
 'Alfred Acuna',
 'Amy Helton',
 'Maria Briggs',
 'Dominique Touhey',
 'Charles Whipps',
 'Emily Mellas',
 'Eva Robinson',
 'Isaac Willard',
 'Willie Drew',
 'Tom Williams',
 'Marilyn Ledford',
 'Susan Russell',
 'Rhonda Wright',
 'Dawn Adams',
 'Elise Oconor',
 'John Hassan',
 'Daniel Benevides',
 'Jewel Freeman',
 'Georgia Kenny',
 'Joseph Wight',
 'Vincent Rule',
 'Kathryn Lloyd',
 'Daniel Nance',
 'Jim Rippee',
 'Opal Faulkner',
 'John Buck',
 'Joanna Bailey',
 'Jeffrey Merrell',
 'Sylvia Bapties',
 'William Brunson',
 'Kenneth Bullard',
 'Michele Downs',
 'Yvonne Sanders',
 'Helen Goldman',
 'Richard Burns',
 'Victoria Hicks',
 'Delphia Sammarco',
 'Francisca Carrier',
 'Tanya Fontenot',
 'Gordon Contreras',
 'Lynn Bailey',
 'Fred Watson',
 'Lynne Collins',
 'David Mcintire',
 'Connie Phillips',
 'Evelyn Mckinney',
 'Adriane Clennon',
 'Todd Edwards',
 'Jonathan Smith',
 'Karla Cota',
 'Debbra Collins',
 'Virginia Baker',
 'Walter Hardesty',
 'Richard Farrell',
 'Beverly Williams',
 'Jeremy Fields',
 'Grady Gorsky',
 'William Harper',
 'Mary Talley',
 'Ronnie Carter',
 'Frances Moye',
 'Johnny Borders',
 'Emily Mellas',
 'Kay Gallo',
 'Audra Brown',
 'Earl King',
 'William Clark',
 'Zella Sons',
 'James Volk',
 'Mary Apilado',
 'Christine Carter',
 'Jason Collins',
 'Mildred Drummond',
 'Albert Tardiff',
 'Wm Combs',
 'Allison Taylor',
 'Margaret Burks',
 'Donna Boucher',
 'Thomas Fannin',
 'Irene Gonzalez',
 'Patrick Snyder',
 'Catherine Rojas',
 'Joel Buss',
 'Sarah Pearce',
 'Kenneth Elmer',
 'William Vang',
 'Todd Martin',
 'William Vang',
 'Luis Knutsen',
 'Jeff Johnson',
 'Christopher Knopp',
 'John Bronstein',
 'Daniel Nance',
 'Charla Dash',
 'John Buck',
 'Gary Stiles',
 'Arlene Johnson',
 'Nannie Thomas',
 'Lori Creamer',
 'Jonathan Ortiz',
 'Mitchell Cooks',
 'Rebecca Marr',
 'Gary Rogers',
 'Charles Tabares',
 'Martin Mendez',
 'Robert Sampsell',
 'Connie Hunt',
 'Christina Schwart',
 'Julian Holland',
 'Misti Garnes',
 'Jonathan Labonte',
 'Lisa Lopez',
 'Christopher Knopp',
 'Larry Scott',
 'Roger Mccollum',
 'David Bernal',
 'Michael Ortiz',
 'Theresa Pelfrey',
 'Peggy Shaw',
 'Ronnie Carter',
 'Sergio Randolph',
 'Joel Buss',
 'Alma Hamblin',
 'Justin Bowers',
 'Debra Ortega',
 'Paul Bream',
 'Randall Anna',
 'Marjorie Roberts',
 'Sondra Roder',
 'Roger Burns',
 'Brittany Hull',
 'Joanna Bailey',
 'David Mcintire',
 'Robert Dargan',
 'Thomas Freeman',
 'Tracy Straight',
 'Winifred Sampson',
 'Kate Mendes',
 'Rosie Charles',
 'Nellie Holt',
 'Wilma Rubio',
 'Katherine Garcia',
 'Edgar Vazquez',
 'Jerry Hoopes',
 'Christopher Moore',
 'Albert Garcia',
 'Ann Campos',
 'Sandra Tucker',
 'Ralph Roberson',
 'Berta Kellogg',
 'Caitlin Heiden',
 'Joseph Elmore',
 'Joanna Bailey',
 'Elaine Burney',
 'Jason Dowling',
 'Oscar Reinke',
 'Michael Pat',
 'Judy Hall',
 'Steve Hayes',
 'Bobbie Burwell',
 'Jewel Freeman',
 'Ronald Fassett',
 'Marsha Kingsley',
 'John Galvan',
 'Bertha Reynolds',
 'Susan Sanders',
 'Terry Reitan',
 'Jerome Chittenden',
 'William Crume',
 'Frederick Patterson',
 'Robert Pender',
 'Todd Bell',
 'Betty Walker',
 'Jacquelyn Webb',
 'Judith Sweet',
 'Steve Gray',
 'Sandra Hobbs',
 'Maria Lynn',
 'Gerald Proctor',
 'Melody Koontz',
 'James Miller',
 'Constance Nathanson',
 'Elizabeth Baeza',
 'Larry Wakham',
 'Jean Mcdonald',
 'Claudia Lennon',
 'Gary Carter',
 'Gary Carter',
 'Ann Campos',
 'Virginia Huston',
 'Eva Wallen',
 'Theresa Aliaga',
 'Barbara Brown',
 'Orville Noto',
 'Patrick Baptiste',
 'Joshua Windham',
 'Jennifer Harrison',
 'Judith Sweet',
 'Bryan Mccurdy',
 'Alfredo Roy',
 'Sylvia Tran',
 'Kayla Pearson',
 'Jan Jones',
 'Gene Duarte',
 'Richard Hauser',
 'Elizabeth Kauffman',
 'Ernesto Brown',
 'Mary Beals',
 'Teresa Parks',
 'Gary Scott',
 'Casey King',
 'James Murphy',
 'Sarah Razo',
 'Bonnie Ray',
 'Isaura Cole',
 'Joyce Bumgardner',
 'Carl Balado',
 'Edward Odom',
 'Ernestine Baxter',
 'Katherine Williams',
 'Barbera Payne',
 'Patrick Snyder',
 'Tom Williams',
 'Bernice Mcneeley',
 'Edwin Raines',
 'Marco Lopez',
 'Zella Sons',
 'Stacy Bird',
 'Patrick Strickland',
 'Alan Martinez',
 'Judy Drinkwater',
 'Elena Perez',
 'James Wood',
 'Joshua Windham',
 'James Murphy',
 'James Harrison',
 'Natalie Gunther',
 'Mary Franklin',
 'Patricia Gloeckner',
 'Melissa Whitman',
 'Valerie Roush',
 'John Kirby',
 'Melinda Smith',
 'Jerry Barke',
 'Jaime Villanueva',
 'Rhonda Wright',
 'Clara Bendel',
 'David Pastrano',
 'April Child',
 'Luis Knutsen',
 'Alan Martinez',
 'Bryan Dondero',
 'Michael Furnace',
 'Elizabeth Kauffman',
 'Eugene Brox',
 'Marlene West',
 'Bill Tutt',
 'James Willis',
 'Bonnie Ray',
 'Kyle Allen',
 'Andrew Tomczak',
 'Joshua Pagano',
 'Colleen Penn',
 'Jasmin Bryant',
 'Alan Mcmanus',
 'Chris Trahan',
 'Cynthia Thompson',
 'Robert Talamantes',
 'Elizabeth Dayton',
 'Jenny Blessing',
 'Robert Densmore',
 'Martin Murphy',
 'Mary Porter',
 'Shelley Rollins',
 'Kayla Place',
 'Shawna Bailey',
 'Kathryn Mckee',
 'Shane Salazar',
 'Mary Ryan',
 'Michael Blalock',
 'Jerry Hoopes',
 'Laura Staggs',
 'Mike Purnell',
 'Caitlin Heiden',
 'John Travis',
 'John Mccarter',
 'Margaret Collier',
 'Brian Blocker',
 'Roger Ewing',
 'Alison Baron',
 'Agnes Alsip',
 'Carolyn Todd',
 'Tanya Caswell',
 'Marita Swearengin',
 'Jamie Collins',
 'Jennifer Wright',
 'Brenda Trent',
 'Nina Delker']

TASK 12

In [35]:
#CHECKING CRIERIA CLAIM_STATUS = Approved AND CUSTOMER_RISK_SEGMENTATION = High AND INCIDENT_SEVERITY = “Major Loss”
# AND NAMED THE LIST AS A
s=[]
for i,j,k,l in zip(complete_merged['CLAIM_STATUS'],complete_merged['RISK_SEGMENTATION'],complete_merged['INCIDENT_SEVERITY']=='Major Loss',complete_merged['CLAIM_AMOUNT']):
  if i=='A' and j=='H' and k=='Major Loss' and l>=15000:
    s.append(1)
  else:
    s.append(0)

In [36]:
# ADDING A FEAUTURE TO DATA FRAME NAMED AS 'Suspicious emp
complete_merged['Suspicious_emp']=s

In [37]:
# MEAN OF Suspicious emp
complete_merged['Suspicious_emp'].mean()

0.0

In [38]:
# updated data frame 

complete_merged

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,...,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,ELIGIBLE_FOR_DISCOUNT,Suspicious_emp
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,VNDR00394,Hart PLC,1108 Slater Street,NaN,Santa Rosa,CA,95404,0,0,0
1,AGENT00017,Robert Gordon,2003-09-09,1100 Cleveland Street,NaN,Fayetteville,AR,72701,33587927,SXOO45515923150315,...,VNDR00394,Hart PLC,1108 Slater Street,NaN,Santa Rosa,CA,95404,0,0,0
2,AGENT00027,Jaqueline Hanson,2010-04-20,6506 North Lagoon Drive,NaN,Panama City Beach,FL,32408,28032351,HNDV98515562374050,...,VNDR00394,Hart PLC,1108 Slater Street,NaN,Santa Rosa,CA,95404,0,0,0
3,AGENT00057,Debra Tripp,2011-03-12,3194 Bladensburg Road Northeast,NaN,Washington,DC,20018,89557833,QINB62773712676016,...,VNDR00394,Hart PLC,1108 Slater Street,NaN,Santa Rosa,CA,95404,0,0,0
4,AGENT00130,Richard Watts,2011-03-19,2521 Naylor Road Southeast,NaN,Washington,DC,20020,37112932,PUKF19142478946120,...,VNDR00394,Hart PLC,1108 Slater Street,NaN,Santa Rosa,CA,95404,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6750,AGENT00566,Paul Ragland,2014-02-05,6315 North Oro Vista Court,NaN,Litchfield Park,AZ,85340,119693502,DFQL30132049053767,...,VNDR00197,"Miller, Perez and Cannon",30 Curtis Road,#509,Milton,MA,2186,0,0,0
6751,AGENT00661,Johnny Borders,1993-11-14,52 Oleary Drive,NaN,Manchester,CT,6040,58545009,YWYB09426389497608,...,VNDR00197,"Miller, Perez and Cannon",30 Curtis Road,#509,Milton,MA,2186,0,0,0
6752,AGENT00832,Andrea Deleon,2016-01-22,3420 Northwest 41st Street,NaN,Oklahoma City,OK,73112,91463119,AGZN99793722750020,...,VNDR00197,"Miller, Perez and Cannon",30 Curtis Road,#509,Milton,MA,2186,0,0,0
6753,AGENT00931,Teresa Hosey,1997-01-07,58 North U.S.A Drive,NaN,Fayetteville,AR,72701,46456511,MKRQ16932147550119,...,VNDR00197,"Miller, Perez and Cannon",30 Curtis Road,#509,Milton,MA,2186,0,0,0
6754,AGENT00952,James Volk,1996-08-30,22062 Cameron Street,NaN,Castro Valley,CA,94546,39717652,JSZJ26000202617327,...,VNDR00197,"Miller, Perez and Cannon",30 Curtis Road,#509,Milton,MA,2186,0,0,0